<div class="container">
    <div class="logo"><p class="logo_text">Be Ready!nure</p></div>
    <form class="field" (ngSubmit)="onSubmit()" #form="ngForm">
      <p class="title">Welcome!</p>
      <p class="title_small">Log in to your account</p>
      <label class="input_names">email:</label>
      <input type="email" class="input_type email_input" name="email" [(ngModel)]="user.email" required>
      <label class="input_names">password:</label>
      <input type="password" class="input_type password_input" name="password" [(ngModel)]="user.password" required>
      <button class= "submit_button" type="submit" [disabled]="!form.valid"><span>Log in</span></button>
      <p class="signUp_text">Don't have an account yet?<a class = "signUp_link" > Sign up</a></p>
    </form>
</div>